$bg_color: #333;
$text_color: #fff;
$white_color: #fff;
$black_color: #000;

$volume_knob_color: #e7e7e7;
$first_row_color: #bec5bd;
$second_row_color: #bec5bd;
$third_row_color: #95a396;
$fourth_row_color: #6a786b;
$fifth_row_color: #505e51;
$sixth_row_color: #363d35;